*{
    --width: 20px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    gap: 10px;
}

.barLength300{
    height: 300px;
    width: var(--width);
    background-color: red;
}

.barLength200{
    height: 200px;
    width: var(--width);
    background-color: green;
}

.barLength100{
    height: 100px;
    width: var(--width);
    background-color: blue;
}